*{
    background: transparent;
    overflow: hidden;
}

.dashboard{
    height: 100vh;
    width: 100vw;
    background-position: center;
    background-size: cover;
    margin: 0;
}

.nav a{
    color: #fff;
}
.nav a:hover{
    color: #8b5ff1;
}

/*noteblock*/
.noteblock{
    border-radius: 3vmin;
    background-color: rgb(192, 180, 126);
    position: absolute;
    justify-content: space-around;
    color: #000;
    height: 400px;
    width: 250px;
    z-index: 9;
}
.noteblock h1{
    font-size: 30px;
    margin-top: 20px;
    margin-left: 80px;
    cursor: all-scroll;
    height: 32px;
    width: 90px;
}
.noteblock h5{
    position: relative;
    font-size: medium;
    margin: 7px;
    margin-bottom: -20px;
    cursor: pointer;
    height: fit-content;
    width: fit-content;
}
#drag{
    z-index: 10;
}
.notes textarea{
    overflow-y: visible;
    margin-top: 5px;
    margin-left: 20px;
    width: 210px;
    border: none;
    resize: none;
}
.notes textarea{
    font-size: 20px;
    line-height: 25px;
    background: linear-gradient(transparent, transparent calc(25px - 1px), rgb(143, 134, 84) .1vh);
    background-size: 100% 25px;
}

/*time and date of today*/
.time-date{
    color: #fff;
    position: relative;
    margin-top: 15vh;
    cursor: default;
    user-select: none;
}
.time{
    cursor: default;
    position: relative;
    text-align: center;
    align-items: center;
    font-size: 30vmin;
    margin-left: 10vw;
    margin-right: 10vw;
}
.date{
    cursor: default;
    position: relative;
    text-align: center;
    align-items: center;
    font-size: 10vmin;
    margin-left: 10vw;
    margin-right: 10vw;
}
