*{
    background: transparent;
    overflow: hidden;
}

.dashboard{
    height: 100vh;
    width: 100vw;
    background-image: url("../images/nature-3082832__480.jpg");
    background-position: center;
    background-size: cover;
    margin: 0;
}

.noteblock{
    color: #fff;
    margin-top: 3.5vmin;
    margin-left: 5vmin;
}

.time-date{
    color: #fff;
    position: relative;
    margin-top: 15vh;
}
.time{
    position: relative;
    text-align: center;
    align-items: center;
    font-size: 30vmin;
    margin-left: 10vw;
    margin-right: 10vw;
}
.datum{
    position: relative;
    text-align: center;
    align-items: center;
    font-size: 10vmin;
    margin-left: 10vw;
    margin-right: 10vw;
}
.date{
    position: relative;
    text-align: center;
    align-items: center;
}
