/*general*/
* {
    margin: 0;
    padding: 0;
    background-color: #8898f0;
    font-family: Arial, Helvetica, sans-serif;
}

/*CONSTRUCTION*/
.construction{
    color: #000;
    text-align: center;
}

/*navigation*/
.navbar{
    justify-content: space-between;
    display: flex;
    height: 10vh;
}
.nav{
    margin-top: 14px;
}
.nav ul{
    margin-left: 28px;
    display: flex;
}
.nav ul li{
    margin-right: 28px;
    list-style: none;
}
.nav img{
    height: 46px;
    width: 46px;
}
.nav a{
    font-size: 4vmin;
    font-weight: 600;
    color: #320a91;
    text-decoration: none;
}
.nav a:hover{
    color: #910007;
}
.dotmenu{
    position: relative;
    margin: 14px 28px;
    cursor: pointer;
    user-select: none;
}

/*menu*/
.menu{
    flex-wrap: wrap;
    justify-content: space-evenly;
    position: fixed;
    z-index: 3;
    background-color: white;
    max-height: 400px;
    max-width: 300px;
    top: 60px;
    right: 28px;
    overflow-y: scroll;
    border-radius: 10px;
}
.menu #button{
    text-align: center;
    margin: 8px;
    padding: 2px;
    max-height: 69px;
    width: 70px;
    max-width: 70px;
}
.menu #button img{
    height: 50px;
    width: 50px;
    max-height: 50px;
    max-width: 50px;
}
.menu #button h5{
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: default;
}

.menu #opensettings{
    text-align: center;
    margin: 8px;
    padding: 2px;
    max-height: 69px;
    width: 70px;
    max-width: 70px;
    cursor: pointer;
}
.menu #opensettings img{
    height: 50px;
    width: 50px;
    max-height: 50px;
    max-width: 50px;
}
.menu #opensettings h5{
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: default;
}

.menu #notedopen{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    margin: 8px;
    padding: 2px;
    height: 50px;
    max-height: 50px;
    width: 250px;
    max-width: 250px;
    border: solid rgb(192, 180, 126);
    border-radius: 20px;
    cursor: pointer;
}
.menu #notedopen h1{
    margin-left: 36px;
    margin-top: 8px;
    font-size: xx-large;
    cursor: pointer;
}
.menu #notedopen img{
    margin-top: 5px;
    margin-left: 5px;
    width: 40px;
    height: 40px;
}

/*settings*/
.settings{
    z-index: 9999;
    position: fixed;
    background-color: #fff;
    top: 2vh;
    left: 1vw;
    height: 96vh;
    width: 98vw;
}
.settings .topbar{
    display: flex;
    position: fixed;
    height: 26px;
    width: 98vw;
}
.settings .topbar h5{
    font-size: 15px;
    font-weight: 500;
    margin-top: .5vh;
    margin-left: 10px;
    cursor: default;
}
.settings .topbar #closesettings{
    margin-left: auto;
    border: none;
    height: 26px;
    width: 45px;
    font-size: larger;
}
.settings .topbar #closesettings:hover{
    transition: .2s;
    background-color: rgb(221, 39, 39);
    cursor: pointer;
}
.settings .hr hr{
    width: 100%;
    margin-top: 25px;
}
    /*settings mid section*/
    .settings .mid{
        display: flex;
        flex-direction: row;
        height: 91vh;
        width: 98vw;
    }
    .settings .mid .sidebar{
        margin-top: 10px;
        margin-left: 10px;
        display: flex;
        flex-direction: column;
        align-items: baseline;
        align-self: baseline;
    }
    .settings .mid .sidebar .sidebarbtn{
        color: #000;
        height: 30px;
        cursor: pointer;
    }
    .settings .mid .sidebar .sidebarbtn:hover{
        color: red;
        height: 30px;
    }
    .settings .mid .sidebar .sidebarbtn h4{
        font-size: medium;
        font-weight: 600;
    }

    .settings .mid .sidebar hr{
        width: 180px;
        margin-bottom: 10px;
    }
    .settings .mid a{
        color: #000;
        text-decoration: none;
    }
    .settings .mid a:hover{
        color: red;
    }
        /*settingsdisplay*/
        .settings .mid .settingsdisplay{
            overflow-y: auto;
            overflow-x: auto;
            width: 100vw;
        }
        .settings .mid .settingsdisplay h1, .settings .mid .settingsdisplay h2, .settings .mid .settingsdisplay h3{
            margin-top: 10px;
            margin-left: 10px;
        }
        .settings .mid .settingsdisplay h1{
            font-size: xx-large;
        }
        .settings .mid .settingsdisplay h2{
            font-size: x-large;
        }
        .settings .mid .settingsdisplay h3{
            font-size: larger;
        }
            /*background-changer color*/
            .settingsdisplay .color-backgr{
                overflow: auto;
                justify-content: center;
                display: -webkit-box;
                flex-wrap: wrap;
                margin-top: 10px;
                margin-left: 0px;
                height: 240px;
                width: 720px;
                max-width: -webkit-fill-available;
            }
            .settingsdisplay .color-backgr .color{
                margin-left: 10px;
                height: 100px;
                width: 100px;
                border: solid #000 3px;
                border-radius: 100px;
                cursor: pointer;
            }
            .settingsdisplay .color-backgr .color:hover{
                margin-top: 2px;
            }
                /*color-backgr*/
                .color-backgr #red{
                    background-color: red;
                }
                .color-backgr #orange{
                    background-color: orange;
                }
                .color-backgr #yellow{
                    background-color: yellow;
                }
                .color-backgr #green{
                    background-color: green;
                }
                .color-backgr #cyan{
                    background-color: cyan;
                }                
                .color-backgr #blue{
                    background-color: blue;
                }
                .color-backgr #purple{
                    background-color: purple;
                }
                .color-backgr #magenta{
                    background-color: magenta;
                }
                .color-backgr #pink{
                    background-color: pink;
                }
                .color-backgr #black{
                    background-color: gray;
                }
                .color-backgr #white{
                    background-color: gray;
                }
                .color-backgr #opencolorpicker img{
                    margin: 20px;
                    height: 60px;
                    width: 60px;
                }

            /*background-changer image*/
            .settingsdisplay .image-backgr{
                overflow: auto;
                justify-content: center;
                display: -webkit-box;
                flex-wrap: wrap;
                margin-top: 10px;
                margin-left: 0px;
                height: 270px;
                width: 800px;
                max-width: -webkit-fill-available;
            }
            .settingsdisplay .image-backgr .image{
                margin-left: 10px;
                height: 120px;
                width: 240px;
                border: solid #000 2px;
                border-radius: 5px;
                cursor: pointer;
            }
            .settingsdisplay .image-backgr .image:hover{
                margin-top: 2px;
            }
            .settingsdisplay .image-backgr img{
                height: 120px;
                width: 240px;
            }


/*credit*/
.credit h1{
    color: #320a91;
    text-align: center;
}
.credit a{
    color: #910007;
    text-decoration: none;
}
.credit a:hover{
    color: #8b5ff1;
}

@media (orientation: landscape){
.credit h1{
    font-size: 4vmin;
    margin-bottom: 2vh;
}
}
