*{
    overflow: hidden;
}

/*navigation*/
.navbar{
    display: flex;
    height: 10vh;
}
.navbar ul{
    margin-top: 3vh;
    margin-left: 6vw;
    display: flex;
    color: #4d1ac4;
}
.navbar ul li{
    font-size: 4vmin;
    margin-right: 1vw;
}
.navbar a{
    color: #4d1ac4;
    text-decoration: none;
}
.navbar a:hover{
    color: #910007;
}

/*user*/
.user{
    position: relative;
    display: flex;
    margin: 4vmin 10vmin 10vmin 10vmin;
}
.user-information{
    margin: auto auto auto auto;
    text-align: left;
}

/*dashboards*/
.dashboards{
    display: flex;
    flex-direction: column;
    margin: auto auto auto auto;
    align-items: center;
}
.dashboards a{
    color: #4d1ac4;
    text-decoration: none;
}
.dashboards a:hover{
    color: #910007;
}
