*{
    overflow: hidden;
}

/*user*/
.user{
    position: relative;
    display: flex;
    margin: 30vh 10vw 10vh 10vw;
}
.user-information{
    margin: auto auto auto auto;
    text-align: left;
    font-size: 3vmin;
}

/*dashboards*/
.dashboards{
    display: flex;
    flex-direction: column;
    margin: auto auto auto auto;
    align-items: center;
}
.dashboards a{
    font-size: 3vmin;
    color: #4d1ac4;
    text-decoration: none;
}
.dashboards a:hover{
    color: #910007;
}
#dashboard{
    margin-bottom: 1vh;
}
